<div class="container">
  <div class="row">
    <div class="col-6">
      <div [formGroup]="form">
        <div formArrayName="expenses" *ngFor="let expense of expenses().controls; let i = index;" class="mt-4">
          <div [formGroupName]="i">
            <input formControlName="description" class="col-md-3" placeholder="Enter Description">
            <input formControlName="entryDate" class="col-md-3" placeholder="Enter Entry Date" type="date">
            <input formControlName="entryAmount" class="col-md-3" placeholder="Enter Entry Amount" type="number">
            <input formControlName="tags" class="col-md-3" placeholder="Enter Tags">
          </div>
          <button class="btn btn-danger" (click)="removeExpense(i)">Remove Expense</button>
          <!-- Chosen name: {{ form.controls.expenses.controls[i].controls.name.value }} -->
        </div>
        <button class="btn btn-primary mt-2" (click)="addExpense()">Add</button>
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-success mt-2" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

