<div [formGroup]="form">
  <div formArrayName="expenses" *ngFor="let expense of expenses().controls; let i = index;" class="mt-4">
    <div [formGroupName]="i">
      <input formControlName="description" placeholder="Enter Description">
      <input formControlName="entryDate" placeholder="Enter Entry Date" type="date">
      <input formControlName="entryAmount" placeholder="Enter Entry Amount" type="number">
      <input formControlName="tags" placeholder="Enter Tags">
    </div>
    <button class="btn btn-danger" (click)="removeExpense(i)">Remove Expense</button>
    <!-- Chosen name: {{ form.controls.expenses.controls[i].controls.name.value }} -->
  </div>
  <button class="btn btn-primary mt-2" (click)="addExpense()">Add</button>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

